body{
    margin: 100;
    padding: 100;
    background: url("https://i.pinimg.com/originals/d7/f8/e2/d7f8e2fe154eef25383ea6c02880a909.jpg");   
    background-size: cover;
    background-position: center;
    font-family: Arial;
	
	
	
}



